@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'bebas';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/bebas.woff2) format('woff2');
  }
}

@layer components {
  * {
    @apply font-bebas;
  }

  .wrapper {
    @apply max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-20;
  }

  .score {
    @apply font-bebas text-[clamp(1.15rem,0.1428571428571428rem+4.285714285714286vw,4rem)] text-gray-800;
  }

  .score span {
    @apply text-black;
  }

  .grid-section {
    @apply grid grid-cols-1 justify-items-center gap-x-4 gap-y-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2;
  }

  .card {
    @apply w-[220px] h-[256px] bg-blue-400 rounded-xl cursor-pointer overflow-hidden;
  }

  .card img {
    @apply w-[220px] h-[220px];
  }

  .card p {
    @apply text-center text-white text-[1.5rem] bg-black rounded-br-xl rounded-bl-xl;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-40vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

.animate {
  animation: slide 4s linear infinite;
}

.animate-cat {
  animation: slide 4s linear infinite 0.7s;
}

/* * {
  padding: 0;
  margin: 0;
}

.cards {
  margin: 20px;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cards div {
  border: 1px solid blue;
  height: 250px;
  width: 250px;
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cards div:hover {
  border: 1px solid red;
}

.cards div img {
  width: 150px;
  height: 150px;
}

.main-div {
  background-image: url('./assets/images/background_image.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */
